:host {
  font-family: "Input Mono Condensed";
}

.header {
  background: #bd423a;
  color: white;
  padding: 12px 24px;
}

.amount {
  font-size: 64px;
  font-weight: bold;
}

.sale-man {
  display: flex;
  width: 100%;
  color: #333;
  align-items: center;
  height: 32px;
  padding: 0 1em;
  box-sizing: border-box;

  &:nth-child(2n+1) {
    background: #f3f3f3;
  }

  .no {
    width: 1em;
    margin-right: 1em;
    color: #bd423a;
    font-weight: bold;
    text-align: right;
  }

  .name, .total {
    flex: 1;
  }

  .total {
    text-align: right;
  }
}

input {
  display: block;
  padding: 12px 15px;
  width: 280px;
  box-sizing: border-box;
  background: white;
  border-radius: 4px;
  margin: 22px auto;
  border: 1px solid #f1f1f1;
}

.login {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ff2020;
  border-color: #ff2020;
  color: #fff;
  font-size: 16px;
  height: 48px;
  margin: auto;
  border-radius: 4px;
}
