
.header {
  position: sticky;
  top: 0;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
  background: #bd423a;
  color: white;
  font-weight: bold;

  .author {
    float: right;
    font-size: 16px;
    margin-right: 24px;
    line-height: 48px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }

  a {
    color: white;
  }
}

.body {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.items {
  display: flex;
  width: 400px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;

  .item {
    width: 100px;
    border: 1px solid #eee;
    flex-shrink: 0;
  }

  input {
    width: 100px;
    border: none;
    background: unset;
    text-align: center;
    font-size: 16px;
    color: #bd423a;
  }
}


.submit {
  width: 200px;
  height: 48px;
  background: #bd423a;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  margin: 20px 100px;
}
