<div class="flex">
  <div class="flex__item">
    <app-poster class="poster" (change)="onPosterChange($event)"></app-poster>
    <app-qrcode class="qrcode" (change)="onQrcdeChange($event)"></app-qrcode>
  </div>
  <div class="canvas-ctn">
    <label>x<input placeholder="x" [(ngModel)]="qrcode.x" (change)="draw()" type="number"/></label><br/>
    <label>Y<input placeholder="y" [(ngModel)]="qrcode.y" (change)="draw()" type="number"/></label><br/>
    <label>W<input placeholder="w" [(ngModel)]="qrcode.w" (change)="draw()" type="number"/></label><br/>
    <label>H<input placeholder="h" [(ngModel)]="qrcode.h" (change)="draw()" type="number"/></label><br/>
    <button (click)="save()">保存</button>
    <canvas #canvas width="1080" [height]="height"></canvas>
  </div>
</div>

<router-outlet></router-outlet>
